
#kezdes button{
    margin: auto;
    display: block;
}


ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
}

#selected{
    size: 50%;
}

ul li {
    width: 200px;
    height: 200px;
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    /*align-items: center;
    height: 150px;*/    
}

ul li img{
    max-width: 100%;
}



.noshowcss {
    display:none
}


#Maindiv{
    width: 60%;
    display: block;
    margin: auto;
}


 